@import "../../../styles/settings.scss";

// .root {
// }

.main {
  @extend %hover-effect;
  background-color: $text-color;
  color: #ffffff;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  padding: 10px 30px;

  &:not(.noHover):hover {
    color: #ffffff !important;
    background-color: $primary;
    text-decoration: none;
  }
}

.small {
  @extend .main;
  font-size: 13px;
  line-height: 24px;
  padding: 5px 10px;
  font-weight: 400;
}

.outline {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid $text-color;
  color: $text-color;
  font-size: 13px;
  line-height: 22px;

  &:not(.noHover):hover {
    background-color: $text-color;
    color: #ffffff;
  }
}

.outlineActive {
  background-color: $primary;
  color: #ffffff;
  border: 1px solid black;

  svg {
    color: #ffffff;
  }
}

.outline.outlineActive:hover {
  background-color: lighten($primary, 10%);
  border-color: lighten(black, 40%);
}