// Color palette to use only in this file!!! {
$red: #ff0000;
$redDark: #b30000;
$redLight: #ff6666;
$orange: #d58e32;
$orangeDark: #cc6600;
$orangeLight: #ffb84d;
$yellow: #ffff00;
$yellowDark: #cccc00;
$yellowLight: #ffff99;
$green: #00cc00;
$greenDark: #009900;
$greenLight: #66ff66;
$teal: #00cccc;
$tealDark: #009999;
$tealLight: #66ffff;
$blue: #0000ff;
$blueDark: #0000b3;
$blueLight: #6666ff;
$indigo: #4b0082;
$indigoDark: #2e005d;
$indigoLight: #9370db;
$purple: #800080;
$purpleDark: #4b004b;
$purpleLight: #d580ff;
$pink: #ff66cc;
$pinkDark: #cc3399;
$pinkLight: #ff99dd;
$grayMedium: #434343;
$grayDark: #363636;
$grayDarker: #2a2a2a;
$grayUltraDark: #292929;
$white: #fff;
// } Below this line you can change styles

$base-padding: 24px;

$header-topbar-bg: $grayMedium;
$header-bg: $grayDark;

$footer-claim-bg: $grayDarker;
$footer-bg: $grayDark;

$primary: $orange;

$text-color: $grayDarker;

$form-border-color: $grayUltraDark;

$search-hover-bg: rgba(0, 0, 0, 0.05);
